nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: linear-gradient(to right, #5A2E98, rgb(133, 55, 156), #3b5ae4) !important;
}

a.navbar-brand {
    color: #fff !important;
}

a.nav-link {
    color: #fff !important;
}

.btn-outline-primary {
    color: #fff !important;
    border-color: #fff !important;
}

ul.navbar-nav.pl-4.pr-40 {
    padding-left: 60px;
}

input.form-control.mr-sm-2.additional-class {
    width: 60vh;
    padding-left: 20px !important;
}

form.form-inline {
    padding-left: 24px;
}

.copy-right{
    color: #fff !important;
}